<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <h1 class="page-header">Forms</h1>

    <h2>Users</h2>

    <div class="container">

        <div class="row" id="forms-container">

            <ul class="nav nav-pills" id="my-nav">

                <li role="presentation">
                    <a href="#/forms">Forms</a>
                </li>
                <li class="active" role="presentation">
                    <a href="#">Fields</a>
                </li>

            </ul>

            <form action="" id="my-form">

                <div class="row" ng-repeat="field in model.fields">
                    <div class="form-group col-md-8">
                        <label for="{{field._id}}">{{field.label}}</label>
                        <input type="{{field.type}}" class="form-control" placeholder="{{field.placeholder}}" id="{{field._id}}">
                    </div>
                    <div class="col-md-4 text-center">
                        <!--<span class="glyphicon glyphicon-pencil hover" ng-click="editField($index)"></span>-->
                        <!--<span class="glyphicon glyphicon-plus hover"></span>-->
                        <span class="glyphicon glyphicon-remove hover" ng-click="model.removeField($index)"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-8 no-bottom-margin">

                        <label>Add new field:</label>

                        <select name="new-field" id="new-field" class="form-control">
                            <option value="sline-txt">Single Line text</option>
                        </select>

                    </div>

                    <div class="col-md-4 text-center">

                        <span class="glyphicon glyphicon-pencil hover not-visible"></span>

                        <span class="glyphicon glyphicon-plus hover"></span>

                        <span class="glyphicon glyphicon-remove hover not-visible"></span>

                        <span class="glyphicon glyphicon-align-justify hover not-visible"></span>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>