<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <h1 class="page-header">Forms</h1>

    <h2>Users</h2>

    <div class="container">

        <div class="row" id="forms-container">

            <ul class="nav nav-pills" id="my-nav">

                <li role="presentation">
                    <a href="#/forms">Forms</a>
                </li>
                <li class="active" role="presentation">
                    <a href="#">Fields</a>
                </li>

            </ul>

            <form action="" id="my-form">

                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" placeholder="First Name" id="fname">
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" placeholder="Last Name" id="lname">
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" class="form-control" placeholder="Select Date" id="dob">
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="gender">Gender:</label>
                        <select name="Gender" id="gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Roles:</label>
                        <div class="checkbox">
                            <label><input type="checkbox" value="Admin" checked>Admin</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="Student">Student</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" value="User">User</label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8 no-bottom-margin">
                        <label>License Agreement:</label>
                        <div class="radio">
                            <label><input type="radio" name="license" value="Yes" checked>Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="license" value="No">No</label>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="form-group col-md-8 no-bottom-margin">
                        <label>Add new field:</label>
                        <select name="new-field" id="new-field" class="form-control">
                            <option value="sline-txt">Single Line text</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="glyphicon glyphicon-pencil hover not-visible"></span>
                        <span class="glyphicon glyphicon-plus hover"></span>
                        <span class="glyphicon glyphicon-remove hover not-visible"></span>
                        <span class="glyphicon glyphicon-align-justify hover not-visible"></span>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>