 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-controller="HomeController">

     <h1 class="page-header">Welcome!</h1>

     <div class="row placeholders">
         <div class="col-md-4 text-justify">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere nisi viverra mi cursus
             aliquet. Suspendisse ac faucibus diam, in maximus massa. Aenean urna odio, bibendum id imperdiet
             eget, gravida a arcu. Suspendisse a arcu ac eros tempus lobortis sit amet vel diam. Mauris
             molestie consectetur velit vel posuere. Nulla suscipit diam dui. Aenean dolor est, mattis quis
             pretium et, maximus vel massa. Suspendisse quis eros vel ante aliquam tristique. Nulla fringilla
             dignissim sodales. Nulla magna quam, egestas sed tristique ut, faucibus quis eros. Donec at
             velit dignissim, imperdiet dui eu, aliquet purus. Quisque facilisis tincidunt ipsum, ac
             imperdiet enim fringilla vel. In hac habitasse platea dictumst. Phasellus et est tempus, auctor
             dolor et, commodo nisl. Nam est turpis, consectetur ut molestie vitae, rhoncus at nisl. Fusce a
             sem at ex luctus tincidunt.
         </div>

         <div class="col-md-4 text-justify">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere nisi viverra mi cursus
             aliquet. Suspendisse ac faucibus diam, in maximus massa. Aenean urna odio, bibendum id imperdiet
             eget, gravida a arcu. Suspendisse a arcu ac eros tempus lobortis sit amet vel diam. Mauris
             molestie consectetur velit vel posuere. Nulla suscipit diam dui. Aenean dolor est, mattis quis
             pretium et, maximus vel massa. Suspendisse quis eros vel ante aliquam tristique. Nulla fringilla
             dignissim sodales. Nulla magna quam, egestas sed tristique ut, faucibus quis eros. Donec at
             velit dignissim, imperdiet dui eu, aliquet purus. Quisque facilisis tincidunt ipsum, ac
             imperdiet enim fringilla vel. In hac habitasse platea dictumst. Phasellus et est tempus, auctor
             dolor et, commodo nisl. Nam est turpis, consectetur ut molestie vitae, rhoncus at nisl. Fusce a
             sem at ex luctus tincidunt.
         </div>

         <div class="col-md-4 text-justify">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere nisi viverra mi cursus
             aliquet. Suspendisse ac faucibus diam, in maximus massa. Aenean urna odio, bibendum id imperdiet
             eget, gravida a arcu. Suspendisse a arcu ac eros tempus lobortis sit amet vel diam. Mauris
             molestie consectetur velit vel posuere. Nulla suscipit diam dui. Aenean dolor est, mattis quis
             pretium et, maximus vel massa. Suspendisse quis eros vel ante aliquam tristique. Nulla fringilla
             dignissim sodales. Nulla magna quam, egestas sed tristique ut, faucibus quis eros. Donec at
             velit dignissim, imperdiet dui eu, aliquet purus. Quisque facilisis tincidunt ipsum, ac
             imperdiet enim fringilla vel. In hac habitasse platea dictumst. Phasellus et est tempus, auctor
             dolor et, commodo nisl. Nam est turpis, consectetur ut molestie vitae, rhoncus at nisl. Fusce a
             sem at ex luctus tincidunt.
         </div>

     </div>

 </div>